
body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
  color:black;
}

/*******************************************/
.path-bar{
  background-color: #F9F1E7;
  color: #9F9F9F;
  height: 5%;
  padding: 3%;
  padding-left: 5%;
}



/*-----------------------------------------------------------*/

.product-page {
  
  padding: 50px;
  gap: 50px;
}

.images {
  height: 100%;
  display: inline-block;
  flex-direction: column;
  margin-right: 2%;
  vertical-align: top;
  
  
}

.images img {
  width: 60px;
  height: 60px;
  margin-bottom: 30%;
  margin-right: 30%;
  border-radius: 20%;
  display: inline-block;
  border: 1px solid #F9F1E7;
  background-color: #F9F1E7;
  
}

.main-image{
  vertical-align: top;
  background-color:#F9F1E7;
  display: inline-block;
}

.product-info {
  padding-left: 5%;
  display: inline-block;
  width: 40%;
}
.product-info h1{
  font-weight: lighter;
  margin-bottom: 1%;
}
.product-info span{
  color: #9F9F9F;
  font-size: 14px;
  font-weight: lighter;
}

.price {
  color: #9F9F9F;
  font-size: 22px;
  font-weight: lighter;
}

.stars {
  margin: 1% 0%;
}

.desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 5%;
}

.options {
  margin: 1% 0%;
  color: #9F9F9F;
  font-size: 15px;
  font-weight: lighter;
}

.sizes span {
  display: inline-block;
  width: 3%;
  text-align: center;
  margin: 1%;
  padding: 1% 2%;
  background-color: #B88E2F;
  border: #B88E2F solid 2px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5%;
}
.sizes span:hover{
  color: #B88E2F;
  background-color: white;
  border-color: #B88E2F;
}
.colors .color {
  display: inline-block;
  margin: 1%;
  padding: 1% 2%;
  
  border-radius: 50%;
  cursor: pointer;
}


.colors .color {
  width: 20px;
  height: 20px;
  padding: 0;
}

.color.purple { background: purple; }
.color.black { background: black; }
.color.yellow { background: #d7a13c; }

.cart-actions {
  margin: 10% 0%;
}

.cart-actions input {
  width: 50px;
  padding: 2% 8%;
  text-align: center;
  border: black solid 1px;
  border-radius: 10px;
}

.cart-actions button {
  margin-left: 10px;
  padding: 2% 8%;
  background: white;
  color: black;
  border: black solid 1px;
  cursor: pointer;
  border-radius: 10px;
}
.cart-actions button:hover{
  background-color: #B88E2F;
  color: white;
  border-color: #B88E2F;
}
.product-meta{
  margin-top: 5%;
}

.product-meta li {
  color: #9F9F9F;
  font-weight: lighter;
  font-size: 13px;
  margin: 15px 0%;
}
/*-----------------------------------------------------------*/

.description-section {
  padding: 5%;
}

.tabs{
  text-align: center;
  margin-bottom: 5%;
}
.tabs span {
  margin-right: 5%;
  font-size: 25px;
  color: #9F9F9F;
  font-weight: lighter;
}

.tabs .active {
  color: black;
}

.tab-content {
  margin: 0% 10%;
  color: #9F9F9F;
}

#sofa1{
  margin-right: 1%;
}
.sofa {
  width: 100%;
  text-align: center;
}
.sofa img {
  width: 48%;
  height: 350px;
  margin: 5% 0%;
  background-color: #F9F1E7;
  border-radius: 15px;
}

.related {
  padding: 50px;
}

.related-grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.item img {
  width: 150px;
  border-radius: 8px;
}

.item {
  text-align: center;
  font-size: 14px;
}

.show-more {
  display: block;
  margin: 20px auto;
  padding: 10px 25px;
  border: 1px solid #b88e2f;
  background: transparent;
  cursor: pointer;
}

footer {
  background: #f6f6f6;
  padding: 50px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-top div {
  max-width: 200px;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  color: #aaa;
  font-size: 13px;
}

